body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: no-repeat center/cover url("../img/SalonCC11D4_2.jpg");
    font-family: 'Montserrat Alternates', sans-serif;
    position: relative;
    color: #333;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
    z-index: 1; /* Se coloca detrás del contenido principal */
}

.container {
    z-index: 2;
    width: 90%;
    max-width: 600px;
    margin-top: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

form input[type="text"],input[type="email"],input[type="password"]{
    width: 96.5%;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4e54c8;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #6c63ff;
}

.error, .success {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.error {
    color: #ff0000;
    background: #ffe6e6;
}

.success {
    color: #006600;
    background: #e6ffe6;
}

.empleados-list h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.empleado-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.empleado-item:last-child {
    border-bottom: none;
}

.empleado-actions button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.empleado-actions button:hover {
    background: #d32f2f;
}

/* Estilo para el formulario de edición */
#editForm {
    display: none;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#editForm input, #editForm select {
    margin-bottom: 15px;
}